{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div class="d-flex align-items-center col-12 col-sm-5 gap-2">
    <img class="logogolge" src="/static/media/etikom-svg.svg" width="30" height="30"/>
    <h4 style="margin-bottom: 5px;">Etikom Blog</h4>
</div>
{% endblock %}

{% block content %}
<div class="metin mt-3">
    <h5>
        E-Ticaret Terimleri ve Uygulama Klavuzu
    </h5>
    <p>
        Blog sayfamızda, hali hazırda e-ticaret yapan veya yapmayı düşünen şahıs yada firmalar için ihtiyaç duyacakları bilgilerin açıklamaları ve önerileri yazmaktadır.
    </p>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {% for blog in blog %}
    <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg width="1em" height="1em"><use xlink:href="#info"></use></svg>
        </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">{{ blog.Baslik }}</h3>
            <p>{{ blog.Metin|truncatewords:30 }} <a href="{% url 'blogdetayurl' url=blog.Url %}" class="icon-link">Devamını Oku<svg class="bi"><use xlink:href="#chevron-right"></use></svg></a></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}