{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div id="ustsatir" class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <dl class="row align-items-center m-0">
        <dt class="col-sm-3 text-warning text-uppercase"><h4>{{ firma_adi }} <small class="blockquote-footer text-capitalize">Fatura Kontrol</small></h4></dt>
        <dd class="col-sm-9">
            <p class="m-0">
                Pazaryerlerinin <strong>komisyon</strong>, <strong>kargo</strong> ve <strong>işlem tutarı</strong> gibi ücretlerini yüksek veya mükerrer olarak fatura etmediğini kontrol edip, artık pazaryerleri ile mutabakat yapabilirsiniz. Tek yapmanız gereken gelen faturaları işaretlemek.
            </p>
        </dd>
    </dl>
</div>
{% endblock %}

{% block content %}
<div class="faturakontrollistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 tab" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Trendyol: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
                <li>Hepsiburada: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>N11: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
                <li>Etsy: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Çiçeksepeti: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
                <li>Amazon: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Teknosa: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
                <li>Koçtaş: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center pt-2 pb-2">
        <div class="p-2 mb-0">
            <h5 class="mb-0">Kontrol Tablosu;</h5>
        </div>
        <div class="p-2 search-box flex-fill">
            <input type="text" id="searchInput" class="form-control" placeholder="Sipariş No veya Stok Kodu ara..." onkeyup="searchTable()">
        </div>
        <div class="ms-auto p-2">
            <button type="button" class="btn btn-sm btn-success" disabled onclick="window.location.href = '{% url 'sipexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="text-center text-danger">
        <h1>
            ÇOK YAKINDA AÇILIYOR! TAKİP EDİN.
        </h1>
    </div>
    <div class="table-responsive small tab">
        <table class="table table-sm table-bordered">
            <thead class="table-light" style="border-style: hidden !important;">
                <tr>
                    <th scope="col">Pazaryeri</th>
                    <th scope="col">Sipariş No</th>
                    <th scope="col">Stok Kodu</th>
                    <th scope="col">Alış Fiyatı</th>
                    <th scope="col">Satış Fiyatı</th>
                    <th scope="col">Adet</th>
                    <th scope="col">Toplam</th>
                    <th scope="col">Pazaryeri İnd.</th>
                    <th scope="col">Komisyon<br>Oranı (%)</th>
                    <th scope="col">Komisyon<br>Tutarı</th>
                    <th scope="col">Giden Desi</th>
                    <th scope="col">Kargo Tutarı</th>
                    <th scope="col">Hizmet Bedeli</th>
                    <th scope="col">İşlem Bedeli</th>
                    <th scope="col">İade Desi</th>
                    <th scope="col">İade Kargo Tutarı</th>
                    <th scope="col">Kalan</th>
                </tr>
            </thead>
            <tbody style="border-style: hidden !important;">
                {% for siparisno, satirlar in veri %}
                    {% for satir in satirlar %}
                        <tr>
                            <td class="text-start">{{ satir.Pazaryeri }}</td>
                            <td class="text-center">{{ satir.Siparisno }}</td>
                            <td class="text-center">{{ satir.Stokkodu }}</td>
                            <td class="text-end">{{ satir.Alisfiyati }}</td>
                            <td class="text-end">{{ satir.Satisfiyati }}</td>
                            <td class="text-center">{{ satir.Adet }}</td>
                            <td class="text-end">{{ satir.Toplamsatistutari }}</td>
                            <td class="text-center">{{ satir.Pazaryeriindirimi }}</td>
                            <td class="text-center">{{ satir.Komisyonorani }}</td>
                            <td class="text-end">{{ satir.Komisyontutari }}</td>
                            {% if forloop.first %}
                                <td class="text-center" rowspan="{{ satirlar|length }}">{{ satir.Kargodesi }}</td>
                                <td class="text-end" rowspan="{{ satirlar|length }}">{{ satir.Kargotutari }}</td>
                                <td class="text-end" rowspan="{{ satirlar|length }}">{{ satir.Hizmetbedeli }}</td>
                                <td class="text-end" rowspan="{{ satirlar|length }}">{{ satir.Islembedeli }}</td>
                            {% endif %}
                            <td class="text-center">{{ satir.Iadedesi }}</td>
                            <td class="text-center">{{ satir.Iadetutari }}</td>
                            <td class="text-end">{{ satir.Kalan }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function searchTable() {
        // Kullanıcının yazdığı metni al
        const input = document.getElementById("searchInput").value.toLowerCase();

        // Tablodaki tüm satırları bul
        const rows = document.querySelectorAll("tbody tr");

        // Her satırın içindeki metinlere bak
        rows.forEach(row => {
        // Satırın tüm metnini küçük harfe çevir
        const rowText = row.innerText.toLowerCase();

        // Eğer satırda aranan metin varsa satırı göster, yoksa gizle
        if (rowText.includes(input)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
        });
    }
</script>
<script>
    document.querySelectorAll(".hucre").forEach(cell => {
        cell.addEventListener("click", function() {
            this.classList.toggle("secili");  // gri yap
            const hucreAdi = this.dataset.hucre;

            fetch("/hucre-kaydet/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    hucre: hucreAdi,
                    secili: this.classList.contains("secili")
                })
            });
        });
    });
</script>
{% endblock %}