{% extends 'etikom/base.html' %}

{% block baslik %}
<div class="col-12 col-sm-5">
    <h1 class="h4">Premium ve Plus Avantajlar</h1>
</div>
{% endblock %}

{% block content %}
<div class="metin mt-3">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                <div class="card-header py-3 text-bg-secondary border-secondary">
                    <h4 class="my-0 fw-normal">Ücretsiz</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">0$ <small class="text-body-secondary fw-light">/aylık</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Fiyat Hesaplama</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Demo Stok Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Demo Sipariş Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Pazaryeri Desteği</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-secondary btn-lg" onclick="window.location.href = '/';">İncele</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-success">
                <div class="card-header py-3 text-bg-success border-success">
                    <h4 class="my-0 fw-normal">Premium</h4>
                    <span class="position-absolute top-0 end-0 p-1"><svg class="fav bi"><use xlink:href="#bookmark"></use></svg></span>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">1$ <small class="text-body-secondary fw-light">/aylık</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Fiyat Hesaplama</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Stok Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Sipariş Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Rapor Verileri</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Excel ile Veri Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Pazaryeri ve OpenCart Desteği</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> WhatsApp ile Canlı Destek</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-success btn-lg btn-primary" onclick="window.location.href = '/kayit-ol';">Keşfet</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Premium+</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">5$ <small class="text-body-secondary fw-light">/aylık</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Fiyat Hesaplama</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Stok Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Sipariş Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Özel Rapor Verileri</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Excel ile Veri Girişi</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Pazaryeri ve OpenCart Desteği</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> WhatsApp ile Canlı Destek</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Görsel ve Grafik Desteği</li>
                        <li><svg class="bi"><use xlink:href="#check"></use></svg> Telefon ve E-Mail Desteği</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary" onclick="window.location.href = '/kayit-ol';">Giriş</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}