{% extends 'etikom/base.html' %}

{% block content %}
<div class="metin">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Ücretsiz</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">0$ <small class="text-body-secondary fw-light">/ AY</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Fiyat Hesaplama</li>
                        <li>Demo Stok Girişi</li>
                        <li>Demo Sipariş Girişi</li>
                        <li>Pazaryeri Desteği</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-outline-primary" onclick="window.location.href = '/';">İncele</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">1$ <small class="text-body-secondary fw-light">/ AY</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Fiyat Hesaplama</li>
                        <li>Özel Stok Girişi</li>
                        <li>Özel Sipariş Girişi</li>
                        <li>Özel Rapor Verileri</li>
                        <li>Excel ile Veri Girişi</li>
                        <li>Pazaryeri ve OpenCart Desteği</li>
                        <li>WhatsApp ile Canlı Destek</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-success btn-lg btn-primary" onclick="window.location.href = '/kayit-ol';">Kayıt Ol</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Premium+</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">5$ <small class="text-body-secondary fw-light">/ AY</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Fiyat Hesaplama</li>
                        <li>Özel Stok Girişi</li>
                        <li>Özel Sipariş Girişi</li>
                        <li>Özel Rapor Verileri</li>
                        <li>Excel ile Veri Girişi</li>
                        <li>Pazaryeri ve OpenCart Desteği</li>
                        <li>WhatsApp ile Canlı Destek</li>
                        <li>Görsel ve Grafik Desteği</li>
                        <li>Telefon ve E-Mail Desteği</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Giriş Yapınız</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}