{% extends 'etikom/base.html' %}

{% block copy %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block baslik %}
<dl class="row align-items-center">
    <dt class="col-sm-3"><h4>{{ firma_adi|title }} Raporlar</h4></dt>
    <dd class="col-sm-9">
        Kâr ve giderlerinizi haftalık, aylık ve yıllık olarak görmek için tek yapmanız gereken siparişlerinizi girmek. Etikom sizin için hesaplayacaktır. Sizde firmanıza ait aşağıda ki özel raporlar ile e-ticaretinizi kontrol edip kolayca yönetebilirsiniz.
    </dd>
</dl>
{% endblock %}


{% block content %}
<div class="mt-3">
    <div class="row">
        <p>Toplam Satış Dönemi :<span class="m-2">{{ tdns }} Ay</span></p>
        <p>Toplam Sipariş Tutarı :<span class="m-2">{{ tsistt|floatformat:"2g" }}</span></p>
        <p>Toptan Satış Tutarı :<span class="m-4">{{ tststt|floatformat:"2g" }}</span></p>
        <p>Toplam Satış Tutarı :<span class="m-4">{{ ts|floatformat:"2g" }}</span></p>

        <h1>Weekly and Monthly Sales</h1>



        <!-- Aylık Satışlar Grafiği -->
        <h2>Last 2 Years Monthly Sales</h2>
        <canvas id="monthlySalesChart" height="150"></canvas>
        <script>
            const monthlyCtx = document.getElementById('monthlySalesChart').getContext('2d');
            const monthlySalesData = {
                labels: JSON.parse('{{ months|escapejs }}'),
                datasets: [{
                    label: 'Total Monthly Sales',
                    data: JSON.parse('{{ monthly_totals|escapejs }}'),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };
            const monthlySalesChart = new Chart(monthlyCtx, {
                type: 'line',
                data: monthlySalesData,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            ticks: {
                                callback: function(value, index, values) {
                                    const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                                    const parts = value.split('-');
                                    const year = parts[0];
                                    const month = parseInt(parts[1]);
                                    return monthNames[month - 1] + ' ' + year;
                                }
                            }
                        }
                    }
                }
            });
        </script>



    </div>

</div>
{% endblock %}