{% extends 'etikom/base.html' %}

{% block copy %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block baslik %}
<dl class="row align-items-center">
    <dt class="col-sm-3"><h4>{{ firma_adi|title }} Raporlar</h4></dt>
    <dd class="col-sm-9">
        Kâr ve giderlerinizi haftalık, aylık ve yıllık olarak görmek için tek yapmanız gereken siparişlerinizi girmek. Etikom sizin için hesaplayacaktır. Sizde firmanıza ait aşağıda ki özel raporlar ile e-ticaretinizi kontrol edip kolayca yönetebilirsiniz.
    </dd>
</dl>
{% endblock %}


{% block content %}
<div class="mt-3">
    <div class="row">
        <p>Toplam Satış Dönemi :<span class="m-2">{{ tdns }} Ay</span></p>
        <p>Toplam Sipariş Tutarı :<span class="m-2">{{ tsistt|floatformat:"2g" }}</span></p>
        <p>Toptan Satış Tutarı :<span class="m-4">{{ tststt|floatformat:"2g" }}</span></p>
        <p>Toplam Satış Tutarı :<span class="m-4">{{ ts|floatformat:"2g" }}</span></p>
    </div>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
        <div>
            <h5 class="text-body-emphasis">En Çok Satılan 5 Ürün</h5>
            <ul class="list-group">
            {% for n_s_t in n_s_t %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ n_s_t.Stokkodu }}
                <span class="badge text-bg-primary rounded-pill">{{ n_s_t.total_cikis }}</span>
            </li>
            {% endfor %}
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <h5 class="text-body-emphasis">En Az Satılan 5 Ürün</h5>
            <ul class="list-group">
                {% for n_s_y in n_s_y %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ n_s_y.Stokkodu }}
                    <span class="badge text-bg-primary rounded-pill">{{ n_s_y.total_cikis }}</span>
                </li>
                {% endfor %}
            </ul>            
        </div>
    </div>
</div>
{% endblock %}