{% extends 'etikom/base.html' %}

{% block content %}
<div class="metin">
    <h5>
        ETİKOM
    </h5>
    <p>
        Uygulamamız, özellikle e-ticaret yapan şahıslar yada işletmeler için günümüz pahalı muhasebe programlarında bile mevcut olmayan veya kolay erişilemeyen raporlamaların ve takiplerin hızlı bir şekilde yapılabilmesi için ortaya çıkmıştır.
    </p>
    <p>
        Bu uygulama ile hızlıca ürününüz için satış fiyatı hesaplayabilirsiniz. Ayrıca ürünleriniz için stok girişi yapıp, stoklarınıza ait raporlarınızı ve detaylarını bir tıklamayla görebilirsiniz.
    </p>
    <p>
        Siparişlerinizi girebilir, böylece her sipariş için kar/zarar durumunu görebilirsiniz. İadelerinizi, hizmet ve işlem bedellerinizi takip edebilir, platformların fatura ve ödemelerini kolay bir şekilde kontrol edebilirsiniz.
    </p>
    <p>
        Şimdi Etikom'a giriş yaparak, sizde ticaretinizin ayrıntılarına online olarak her yerden kolayca ulaşın.
    </p>
</div>
{% endblock %}