{% extends 'etikom/base.html' %}

{% block baslik %}
<div class="d-flex align-items-center col-12 col-sm-5 gap-2">
    <img src="/static/media/etikom-logo.png" width="30" height="30"/>
    <h4 style="margin-bottom: 5px;">Etikom Hakkında</h4>
</div>
{% endblock %}

{% block content %}
<div class="metin mt-3">
    <h5>
        E-Ticaretin Kolay Muhasebesi
    </h5>
    <p>
        Uygulamamız, özellikle e-ticaret yapan şahıslar yada işletmeler için takibi zor süreçleri kolaylıkla takip edebilmeleri için ortaya çıkmıştır. Günümüz pahalı muhasebe programlarında bile mevcut olmayan veya kolay erişilemeyen fiyatlama, kâr/zarar, kritik stok vb. gibi raporlarada bir tıklamayla ulaşılmaktadır. Hatta bunlar için ileri Excel bilgisine ihtiyacınız bile yok.
    </p>
    <p>
        Etikom ile e-ticaretinizin gereksinim duyduğu alanlar düşünülmüş ve bunlara kolay çözümler üretilmiştir. Dilerseniz hızlıca ürününüz için satış fiyatı hesaplayabilir, bu ürünler için excel ile stok girişi yapıp takip edebilir, stoklarınıza ait ihtiyacınız olan raporlarınızı ve stok detaylarını bir tıklamayla görebilirsiniz.
    </p>
    <p>
        Siparişlerinizi ve ayrıntılarını excel ile topluca girebilirsiniz, böylece her sipariş için kâr/zarar durumunuzu görebilirsiniz. İadelerinizi, hizmet ve işlem bedellerinizi kolayca takip edebilir, platformların fatura ve ödemelerini kolay bir şekilde kontrol edebilirsiniz. Mükerrer kesinlen komisyon, işlem faturası veya eksik yatırılan ödemelerinizi görebilirsiniz.
    </p>
    <p>
        Geleneksel ticaret için hazırlanmış olan manuel programların e-ticaretin hızına veya takibine yetişmesi mümkün olmadığından sizde şimdi Etikom'a giriş yaparak, 24 saat hizmetinizde olacak bu online yönetici asistanınızla ticaretinizde sağlam ve emin adımlarla ilerleyebilirsiniz.
    </p>
    <p class="fs-4">
        <a class="float-end fw-bold" href="{% url 'iletisimurl' %}">ETİKOM</a>
    </p>
</div>
{% endblock %}