{% extends 'etikom/anasayfa.html' %}

{% block copy %}
<style type="text/css">
    div#ustsatir {
        border-bottom: none !important;
    }
</style>
{% endblock %}

{% block baslik %}
<dl class="row align-items-center m-0">
    <dt class="col-sm-3 text-warning text-uppercase"><h4>{{ firma_adi }} <small class="blockquote-footer text-capitalize">İade Listesi</small></h4></dt>
    <dd class="col-sm-9">
        <p class="m-0">
            Değiştirmek veya silmek istediğiniz satırın detayı için <strong>Kalem <svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></strong> simgesine tıklayabilirsiniz. <strong>Desi</strong> ve <strong>İade Kargo Tutarı</strong>'nı iade edilen siparişin stok kodlarına bölüştürünüz. Bu şekilde iadelerin toplam kargo tutarı doğru hesaplanır.
        </p>
    </dd>
</dl>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 tab" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>İade Sayısı: <strong>{{ iade_sayisi|floatformat:"-3g" }}</strong></li>
                <li>Ortalama Desi: <strong>{{ ort_desi|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. İade Tutarı: <strong>{{ ort_tutar|floatformat:"2g" }}</strong></li>
                <li>Toplam Kargo Tutarı: <strong>{{ top_tutar|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Stok Çeşidi: <strong>{{ top_stok|floatformat:"-3g" }}</strong></li>
                <li>Toplam İade: <strong>{{ top_adet|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>-<strong></strong></li>
                <li>-<strong></strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1">
        <h5>
            İade Kargo Listesi;
        </h5>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'iadeexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small tab">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Detay<br>
                    </th>
                    <th scope="col">Tür<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-tur' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-tur' %}">Z</a>)
                    </th>
                    <th scope="col">Sipariş No<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-siparis-no' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-siparis-no' %}">Z</a>)
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-adet' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-adet' %}">Z</a>)
                    </th>
                    <th scope="col">Desi<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-desi' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-desi' %}">Z</a>)
                    </th>
                    <th scope="col">İade Kargo Tutarı<br>
                        (<a href="{% url 'iadesiralamaurl' sort='az-iade-tutari' %}">A</a>↔<a href="{% url 'iadesiralamaurl' sort='za-iade-tutari' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for iade in iade %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'iadeduzeltmeurl' firma=firma pk=iade.id %}"><svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></a>
                    </td>
                    <td class="text-center">
                        {{ iade.Tur }}
                    </td>
                    <td>
                        <a href="{% url 'siparisdetayurl' sort=iade.Siparisno %}">{{ iade.Siparisno }}</a>
                    </td>
                    <td>
                        <a href="{% url 'stokgecmisiurl' sort=iade.Stokkodu %}">{{ iade.Stokkodu }}</a>
                    </td>
                    <td class="text-center">
                        {{ iade.Adet }}
                    </td>
                    <td class="text-center">
                        {{ iade.Desi }}
                    </td>
                    <td class="text-end">
                        {{ iade.Iadetutari }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p>{{ iade_sayisi }} Satır</p>
    </div>
</div>
{% endblock %}