{% extends 'etikom/base.html' %}

{% block content %}
<div class="metin">
    <h1>
        7/24 İletişim Bilgilerimiz,
    </h1>
    <h3>
        TELEFON : +90546 831 44 88
    </h3>
    <h3>
        E-POSTA : oktaybayram@hotmail.com
    </h3>
    <h4>
        Ticaret ile uğraşan her firma gibi, e-ticaret yapan firmalarında en büyük ihtiyacı olan fiyat tespiti, stok girişi, kar/zarar takibi gibi işlemleri yapan uygulamamız hakkında bizim ile iletişime geçebilirsiniz.
    </h4>
</div>
{% endblock %}