{% extends 'etikom/base.html' %}

{% block content %}
<div class="metin">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">7/24 İletişim</h4>
                </div>
                <div class="card-body">
                    <h6>TELEFON : +90546 831 44 88</h6>
                    <h6>E-POSTA : <a href="mailto:oktaybayram@hotmail.com?subject=Etikom Hakkında">oktaybayram@hotmail.com</a></h6>
                    <p class="list-unstyled mt-3 mb-4">Ticaret ile uğraşan her firma gibi, e-ticaret yapan firmalarında en büyük ihtiyacı olan fiyat tespiti, stok girişi, kar/zarar ve ödeme takibi gibi işlemleri kolayca yapan uygulamamız hakkında bizim ile 7/24 iletişime geçebilirsiniz.
                    </p>
                    <button class="w-100 btn btn-success btn-lg btn-primary" onclick=" window.open('https://wa.me/905468314488?text=Etikom hakkında yardımcı olabilir misiniz.','_blank')">WhatsApp</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Banka Hesaplarımız</h4>
                </div>
                <div class="card-body">
                    <h6>TC İŞ BANKASI TL HESABI</h6>
                    <small class="hesap">
                        OKTAY BAYRAM
                    </small>
                    <small class="hesap">
                        TR28 0006 4000 0011 1530 4706 46
                    </small>
                    <h6 style="margin-top: 1.5rem;">TC İŞ BANKASI EUR HESABI</h6>
                    <small class="hesap">
                        OKTAY BAYRAM
                    </small>
                    <small class="hesap">
                        TR59 0006 4000 0021 0410 6988 82
                    </small>
                    <h6 style="margin-top: 1.5rem;">GARANTİ BANKASI USD HESABI</h6>
                    <small class="hesap">
                        OKTAY BAYRAM
                    </small>
                    <small class="hesap">
                        TR52 0006 2000 7000 0009 0932 36
                    </small>
                    <h6 style="margin-top: 1.5rem;">BINANCE USDT HESABI</h6>
                    <small class="hesap">
                        BNB Smart Chain (BEP20)
                    </small>
                    <small class="hesap">
                        0x64d378644ab2533b312fd1a6c204d376300c36ee
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}