{% extends 'etikom/base.html' %}

{% block baslik %}
<div>
    <h4 class="text-warning text-uppercase">{{ firma_adi }} <small class="blockquote-footer text-capitalize">Kargo Düzeltme</small></h4>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-4 mb-4 mt-3">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center">Kargo Düzeltme İşlemleri</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">Daha önce eklemiş olduğunuz aşağıda ki kargo bilgilerini, değiştirerek tekrar ekleyebilir veya silebilirsiniz.</small></h5>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex gap-2 justify-content-center py-3">
                    <form method="post">
        				{% csrf_token %}
        				<input type="hidden" name="pk" value="{{ form.instance.pk }}">
        				<button type="submit" class="btn btn-primary rounded-pill px-3" name="kargoekle">Kargo Ekle</button>
    				</form>
                    <form method="post">
        				{% csrf_token %}
        				<input type="hidden" name="pk" value="{{ form.instance.pk }}">
        				<button type="submit" class="btn btn-secondary rounded-pill px-3" name="kargosil">Kargo Sil</button>
    				</form>
                    <button class="btn btn-success rounded-pill px-3" type="button" onclick="window.location.href = '{% url 'kargolistesiurl' %}';">Kargo Listesi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}