{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div id="ustsatir" class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <dl class="row align-items-center m-0">
        <dt class="col-sm-3 text-warning text-uppercase"><h4>{{ firma_adi }} <small class="blockquote-footer text-capitalize">Kargo Listesi</small></h4></dt>
        <dd class="col-sm-9">
            <p class="m-0">
                Değiştirmek veya silmek istediğiniz satırın detayı için <strong>Kalem <svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></strong> simgesine tıklayabilirsiniz. <strong>Sipariş No</strong> girerken eklediğiniz siparişlerden olmasına dikkat ediniz. Aksi takdirde kargo raporlarınızda maliyetiniz fazla çıkacaktır.
            </p>
        </dd>
    </dl>
</div>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 tab" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Genel Toplam: <strong>{{ gen_toplam|floatformat:"2g" }}</strong></li>
                <li>Ortalama Desi: <strong>{{ ort_desi|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. Kargo Tutarı: <strong>{{ ort_tutar|floatformat:"2g" }}</strong></li>
                <li>Toplam Kargo Tutarı: <strong>{{ top_tutar|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. Hizmet Bedeli: <strong>{{ ort_hizmet|floatformat:"2g" }}</strong></li>
                <li>Toplam Hizmet Bedeli: <strong>{{ top_hizmet|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. İşlem Bedeli: <strong>{{ ort_islem|floatformat:"2g" }}</strong></li>
                <li>Toplam İşlem Bedeli: <strong>{{ top_islem|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center pt-2 pb-2">
        <div class="p-2 mb-0">
            <h5 class="mb-0">Giden Kargo Listesi;</h5>
        </div>
        <div class="p-2 search-box flex-fill">
            <input type="text" id="searchInput" class="form-control" placeholder="Sipariş No ara..." onkeyup="searchTable()">
        </div>
        <div class="ms-auto p-2">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'kargoexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small tab">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Detay<br>
                    </th>
                    <th scope="col">Tür<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-tur' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-tur' %}">Z</a>)
                    </th>
                    <th scope="col">Sipariş No<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-siparis-no' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-siparis-no' %}">Z</a>)
                    </th>
                    <th scope="col">Desi<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-desi' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-desi' %}">Z</a>)
                    </th>
                    <th scope="col">Kargo Tutarı<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-kargo-tutari' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-kargo-tutari' %}">Z</a>)
                    </th>
                    <th scope="col">Hizmet Bedeli<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-hizmet-tutari' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-hizmet-tutari' %}">Z</a>)
                    </th>
                    <th scope="col">İşlem Bedeli<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-islem-tutari' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-islem-tutari' %}">Z</a>)
                    </th>
                    <th scope="col">Toplam<br>
                        (<a href="{% url 'kargosiralamaurl' sort='az-toplam-tutari' %}">A</a>↔<a href="{% url 'kargosiralamaurl' sort='za-toplam-tutari' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for kargo in kargo %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'kargoduzeltmeurl' firma=firma pk=kargo.id %}"><svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></a>
                    </td>
                    <td class="text-center">
                        {{ kargo.Tur }}
                    </td>
                    <td>
                        <a href="{% url 'siparisdetayurl' sort=kargo.Siparisno %}">{{ kargo.Siparisno }}</a>
                    </td>
                    <td class="text-center">
                        {{ kargo.Desi }}
                    </td>
                    <td class="text-end">
                        {{ kargo.Kargotutari }}
                    </td>
                    <td class="text-end">
                        {{ kargo.Hizmetbedeli }}
                    </td>
                    <td class="text-end">
                        {{ kargo.Islembedeli }}
                    </td>
                    <td class="text-end">
                        {{ kargo.Toplam }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p>{{ kargo_sayisi }} Satır</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function searchTable() {
        // Kullanıcının yazdığı metni al
        const input = document.getElementById("searchInput").value.toLowerCase();

        // Tablodaki tüm satırları bul
        const rows = document.querySelectorAll("tbody tr");

        // Her satırın içindeki metinlere bak
        rows.forEach(row => {
        // Satırın tüm metnini küçük harfe çevir
        const rowText = row.innerText.toLowerCase();

        // Eğer satırda aranan metin varsa satırı göster, yoksa gizle
        if (rowText.includes(input)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
        });
    }
</script>
{% endblock %}