{% extends 'etikom/base.html' %}

{% block baslik %}
<div class="col-12 col-sm-5">
    <h1 class="h4">Kayıt Sayfasına Hoşgeldiniz</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-4 mb-4 mt-3">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center">Firma Kayıt Formu</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">Firmanıza ait tablolar için hemen kayıt olup, Etikom'un özelliklerinden sınırsız yararlanmaya başlayabilirsiniz.</small></h5>
            {% if mesaj %}
            <p style="color: red;">{{ mesaj }}</p>
            {% endif %}
            <form method="post" name="kayit1">{% csrf_token %}
                {{ kayit.as_p }}                                    
            <div class="d-flex gap-2 justify-content-center py-3">
                <button class="w-100 btn btn-success btn-lg btn-primary" type="submit">
                    Kayıt Ol
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}