{% extends 'etikom/base.html' %}

{% block baslik %}
<dl class="row">
    <dt class="col-sm-3 pt-2"><h4>{{ firma_adi|title }} Stok Listesi</h4></dt>
    <dd class="col-sm-9">
        Ürünlerinize ait stok kodlarının, toplam adetlerinin ve ortalama alış fiyatlarının listesidir. Listenizi Excel dosyası olarak indirip stok sayımlarınızda da kullanabilirsiniz. Kontrol etmek istediğiniz ürüne ait hareketler için <strong>Stok Kodu</strong>'na tıklayabilirsiniz.
    </dd>
</dl>
{% endblock %}


{% block content %}
<div class="sayimlistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-top">
        <h5>
            Stok Tablosu;
        </h5>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'sayimexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="pt-3 pb-3">Sıra No
                    </th>
                    <th scope="col" class="pt-3 pb-3">Stok Kodu
                    </th>
                    <th scope="col" class="pt-3 pb-3">Mevcut Adet
                    </th>
                    <th scope="col" class="pt-3 pb-3">Ort. Alış Fiyatı
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stok_kodu, values in etopla.items %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <a href="{% url 'stokgecmisiurl' sort=stok_kodu %}">{{ stok_kodu }}</a>
                    </td>
                    <td class="text-center">
                        {{ values.total_adet_all }}
                    </td>
                    <td class="text-center">
                        {{ values.ortalama_alisfiyati|floatformat:"2g" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p></p>
    </div>
</div>
{% endblock %}