{% extends 'etikom/base.html' %}

{% block baslik %}
<div class="col-12 col-sm-5">
    <h1 class="h4">{{ firma_adi|title }} Stok Listesi</h1>
</div>
<div>
    <p>
        Ürünlerinize ait stok kodlarının ve toplam adetlerinin listesidir. Listenizi Excel dosyası olarak indirip stok sayımlarınızda kullanabilirsiniz. Kontrol etmek istediğiniz ürüne ait hareketler için <mark>Stok Kodu</mark>'na tıklayabilirsiniz.
    </p>
</div>  
{% endblock %}


{% block content %}
<div class="sayimlistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-top">
        <h4>
            Stok Adetleriniz;
        </h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'sayimexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Sıra No<br>
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'stoksiralamaurl' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'stoksiralamaurl' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'stoksiralamaurl' sort='az-adet' %}">A</a>↔<a href="{% url 'stoksiralamaurl' sort='za-adet' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in etopla %}
                <tr>
                    <td id="tabloadet">
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ item.Stokkodu }}
                    </td>
                    <td id="tabloadet">
                        {{ item.total_adet }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3 border-bottom">
        <p>{{ stsys }} Satır</p>
    </div>
</div>
{% endblock %}