{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div>
    <h4 class="text-warning text-uppercase">{{ firma_adi }} <small class="blockquote-footer text-capitalize">Sipariş Ekleme Sayfası</small></h4>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-4 mb-4 mt-3">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center">Sipariş Bilgisi Ekle</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">Stok girişi yapılan ürünleriniz için sipariş bilgisi ekleyebilir yada Excel ile toplu sipariş yükleme işlemide yapabilirsiniz.</small></h5>
            <form method="POST">
                {% csrf_token %}
                {{ siparis.as_p }}
                <div class="d-flex gap-2 justify-content-center py-3">
                    <button class="btn btn-primary rounded-pill px-3 btn-sm" type="submit" name="sipekle">Sipariş Ekle</button>
                    <button class="btn btn-secondary rounded-pill px-3 btn-sm" type="button" onclick="window.location.href = '{% url 'sipexceliyukleurl' %}';">Excel Yükle</button>
                    <button class="btn btn-success rounded-pill px-3 btn-sm" type="button" onclick="window.location.href = '{% url 'siparislistesiurl' %}';">Sipariş Listesi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}