{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div id="ustsatir" class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <dl class="row align-items-center m-0">
        <dt class="col-sm-3 text-warning text-uppercase"><h4>{{ firma_adi }} <small class="blockquote-footer text-capitalize">Sipariş Listesi</small></h4></dt>
        <dd class="col-sm-9">
            <p class="m-0">
                Değiştirmek veya silmek istediğiniz satırın detayı için <strong>Kalem <svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></strong> simgesine, tek bir pazaryerine ait detay bilgileri için <strong>Pazaryeri</strong> adına ve aynı üründen alan siparişler içinde <strong>Stok Kodu</strong>'na tıklayabilirsiniz.
            </p>
        </dd>
    </dl>
</div>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 tab" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Pazaryeri Sayısı: <strong>{{ tpys|floatformat:"-3g" }}</strong></li>
                <li>Sipariş Sayısı: <strong>{{ tsps|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Stok Çeşidi: <strong>{{ tsts|floatformat:"-3g" }}</strong></li>
                <li>Satılan Ürün: <strong>{{ tstc|floatformat:"-3g" }} Adet</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>İade Ürün: <strong>{{ ius }} Adet</strong></li>
                <li>Sipariş Ort.: <strong>{{ orsp|floatformat:"g" }} Ürün</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Toplam Satış: <strong>{{ tstt|floatformat:"2g" }}</strong></li>
                <li>Ort. Satış: <strong>{{ ostt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center pt-2 pb-2">
        <div class="p-2 mb-0">
            <h5 class="mb-0">Sipariş Listesi;</h5>
        </div>
        <div class="p-2 search-box flex-fill">
            <input type="text" id="searchInput" class="form-control" placeholder="Sipariş No veya Stok Kodu ara..." onkeyup="searchTable()">
        </div>
        <div class="ms-auto p-2">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'sipexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small tab">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Detay<br>
                    </th>
                    <th scope="col">Tür<br>
                        (<a href="{% url 'siparissiralama' sort='az-tur' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-tur' %}">Z</a>)
                    </th>
                    <th scope="col">Pazaryeri<br>
                        (<a href="{% url 'siparissiralama' sort='az-pazaryeri' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-pazaryeri' %}">Z</a>)
                    </th>
                    <th scope="col">Tarih<br>
                        (<a href="{% url 'siparissiralama' sort='az-tarih' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-tarih' %}">Z</a>)
                    </th>
                    <th scope="col">Sipariş No<br>
                        (<a href="{% url 'siparissiralama' sort='az-siparis-no' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-siparis-no' %}">Z</a>)
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'siparissiralama' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'siparissiralama' sort='az-adet' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-adet' %}">Z</a>)
                    </th>
                    <th scope="col">Satış Fiyatı<br>
                        (<a href="{% url 'siparissiralama' sort='az-satis-fiyati' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-satis-fiyati' %}">Z</a>)
                    </th>
                    <th scope="col">Toplam<br>
                        (<a href="{% url 'siparissiralama' sort='az-toplam' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-toplam' %}">Z</a>)
                    </th>
                    <th scope="col">Komisyon<br>Oranı (%)<br>
                        (<a href="{% url 'siparissiralama' sort='az-komisyon-orani' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-komisyon-orani' %}">Z</a>)
                    </th>
                    <th scope="col">Komisyon<br>Tutarı<br>
                        (<a href="{% url 'siparissiralama' sort='az-komisyon-tutari' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-komisyon-tutari' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for siparis in siparis %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'siparisduzeltmeurl' firma=firma pk=siparis.id %}"><svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></a>
                    </td>
                    <td class="text-center">
                        {{ siparis.Tur }}
                    </td>
                    <td>
                        <a href="{% url 'pazaryeridetayurl' pzr=siparis.Pazaryeri %}">{{ siparis.Pazaryeri }}</a>
                    </td>
                    <td class="text-center">
                        {{ siparis.Tarih|date:"d.m.Y" }}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'siparisdetayurl' sort=siparis.Siparisno %}">{{ siparis.Siparisno }}</a>
                    </td>
                    <td>
                        <a href="{% url 'stokgecmisiurl' sort=siparis.Stokkodu %}">{{ siparis.Stokkodu }}</a>
                    </td>
                    <td class="text-center">
                        {{ siparis.Adet }}
                    </td>
                    <td class="text-end">
                        {{ siparis.Satisfiyati }}
                    </td>
                    <td class="text-end">
                        {{ siparis.Toplam }}
                    </td>
                    <td class="text-center">
                        {{ siparis.Komisyon }}
                    </td>
                    <td class="text-end">
                        {{ siparis.Komisyontutari }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p>{{ stsys }} Satır</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function searchTable() {
        // Kullanıcının yazdığı metni al
        const input = document.getElementById("searchInput").value.toLowerCase();

        // Tablodaki tüm satırları bul
        const rows = document.querySelectorAll("tbody tr");

        // Her satırın içindeki metinlere bak
        rows.forEach(row => {
        // Satırın tüm metnini küçük harfe çevir
        const rowText = row.innerText.toLowerCase();

        // Eğer satırda aranan metin varsa satırı göster, yoksa gizle
        if (rowText.includes(input)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
        });
    }
</script>
{% endblock %}