{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div id="ustsatir" class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
    <div>
        <h4 class="text-warning text-uppercase">{{ firma_adi }} <small class="blockquote-footer text-capitalize">Sipariş Düzeltme</small></h4>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-sm-6 col-lg-4 mb-4 mt-3">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-center">Sipariş Düzeltme İşlemleri</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">Daha önce eklemiş olduğunuz aşağıda ki sipariş bilgilerini, değiştirerek tekrar ekleyebilir veya silebilirsiniz.</small></h5>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Pazaryeri</label>
                    <div class="col-sm-8">
                        {{ siparis.Pazaryeri }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Sipariş Tarihi</label>
                    <div class="col-sm-8">
                        {{ siparis.Tarih }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Sipariş No</label>
                    <div class="col-sm-8">
                        {{ siparis.Siparisno }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Stok Kodu</label>
                    <div class="col-sm-8">
                        {{ siparis.Stokkodu }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Adet</label>
                    <div class="col-sm-8">
                        {{ siparis.Adet }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Satış Fiyatı</label>
                    <div class="col-sm-8">
                        {{ siparis.Satisfiyati }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Komisyon (%)</label>
                    <div class="col-sm-8">
                        {{ siparis.Komisyon }}
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center py-3">
                    <form method="post">
        				{% csrf_token %}
        				<input type="hidden" name="pk" value="{{ siparis.instance.pk }}">
        				<button type="submit" class="btn btn-primary rounded-pill px-3" name="siparisekle">Sipariş Ekle</button>
    				</form>
                    <form method="post">
        				{% csrf_token %}
        				<input type="hidden" name="pk" value="{{ siparis.instance.pk }}">
        				<button type="submit" class="btn btn-secondary rounded-pill px-3" name="siparissil">Sipariş Sil</button>
    				</form>
                    <button class="btn btn-success rounded-pill px-3" type="button" onclick="window.location.href = '{% url 'siparislistesiurl' %}';">Sipariş Listesi</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}