{% extends 'etikom/base.html' %}

{% block content %}
<div class="siparislistesi">
    <h6>
        Fatura detayı için Fatura Numarasına, ürün detayı içinde Stok Kodu'na tıklayabilirsiniz. Sayfa Özeti bölümünden sayfaya ait durum raporlarını görebilirsiniz.
    </h6>
    <h2>
        Sipariş Listesi
    </h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Sıra No<br>
                        (<a href="{% url 'siparissiralama' sort='az-sira-no' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-sira-no' %}">Z</a>)
                    </th>
                    <th scope="col">Pazaryeri<br>
                        (<a href="{% url 'siparissiralama' sort='az-pazaryeri' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-pazaryeri' %}">Z</a>)
                    </th>
                    <th scope="col">Tarih<br>
                        (<a href="{% url 'siparissiralama' sort='az-tarih' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-tarih' %}">Z</a>)
                    </th>
                    <th scope="col">Sipariş No<br>
                        (<a href="{% url 'siparissiralama' sort='az-siparis-no' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-siparis-no' %}">Z</a>)
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'siparissiralama' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'siparissiralama' sort='az-adet' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-adet' %}">Z</a>)
                    </th>
                    <th scope="col">Satış Fiyatı<br>
                        (<a href="{% url 'siparissiralama' sort='az-satis-fiyati' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-satis-fiyati' %}">Z</a>)
                    </th>
                    <th scope="col">Toplam<br>
                        (<a href="{% url 'siparissiralama' sort='az-toplam' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-toplam' %}">Z</a>)
                    </th>
                    <th scope="col">Komisyon<br>Oranı (%)<br>
                        (<a href="{% url 'siparissiralama' sort='az-komisyon-orani' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-komisyon-orani' %}">Z</a>)
                    </th>
                    <th scope="col">Komisyon<br>Tutarı<br>
                        (<a href="{% url 'siparissiralama' sort='az-komisyon-tutari' %}">A</a>↔<a href="{% url 'siparissiralama' sort='za-komisyon-tutari' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for siparis in siparis %}
                <tr>
                    <td>
                        {{ siparis.id}}
                    </td>
                    <td>
                        {{ siparis.Pazaryeri}}
                    </td>
                    <td>
                        {{ siparis.Tarih }}
                    </td>
                    <td>
                        {{ siparis.Siparisno }}
                    </td>
                    <td>
                        {{ siparis.Stokkodu }}
                    </td>
                    <td id="tabloadet">
                        {{ siparis.Adet }}
                    </td>
                    <td id="tablofiyat">
                        {{ siparis.Satisfiyati }}
                    </td>
                    <td id="tablofiyat">
                        {{ siparis.Toplam }}
                    </td>
                    <td id="tabloadet">
                        {{ siparis.Komisyon }}
                    </td>
                    <td id="tablofiyat">
                        {{ siparis.Komisyontutari }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}