{% extends 'etikom/anasayfa.html' %}

{% block baslik %}
<div id="ustsatir" class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
    <dl class="row align-items-center m-0">
        <dt class="col-sm-3 text-warning text-uppercase"><h4>{{ firma_adi }} <small class="blockquote-footer text-capitalize">Stok Geçmişi</small></h4></dt>
        <dd class="col-sm-9">
            <p class="m-0">
                Adetleri <strong>Eksi "-"</strong> olan satırlar, sipariş veya toptan satış işlemlerine aittir. <strong>Artı "+"</strong> olan satırlar ise alım veya iade işlemlerine ait bilgileri listelemektedir. Tür sütununda işleme ait kısa kodları görebilirsiniz.
            </p>
        </dd>
    </dl>
</div>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3 tab" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Mevcut Adet: <strong>{{ ma|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Toplam Çıkış: <strong>{{ tstc|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. Alış Fiyatı: <strong>{{ soaf|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. Satış Fiyatı: <strong>{{ sosf|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex align-items-center pt-2 pb-2">
        <div class="p-2 mb-0">
            <h5 class="mb-0">Stok Kodu; <sort class="text-success">{{ sort }}</sort></h5>
        </div>
        <div class="p-2 search-box flex-fill">
            <input type="text" id="searchInput" class="form-control" placeholder="Belge No ara..." onkeyup="searchTable()">
        </div>
    </div>
    <div class="table-responsive small tab">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="pt-3 pb-3">Sıra No
                    </th>
                    <th scope="col" class="pt-3 pb-3">Tür
                    </th>
                    <th scope="col" class="pt-3 pb-3">Belge No
                    </th>
                    <th scope="col" class="pt-3 pb-3">Adet
                    </th>
                    <th scope="col" class="pt-3 pb-3">Fiyat
                    </th>
                    <th scope="col" class="pt-3 pb-3">Toplam
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stok in stok %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>
                    <td class="text-center">
                        {{ stok.Tur }}
                    </td>
                    <td>
                        <a href="{% url 'stokfaturasiurl' sort=stok.Afaturano %}">{{ stok.Afaturano }}</a>
                    </td>
                    <td class="text-center">
                        {{ stok.Adet }}
                    </td>
                    <td class="text-end">
                        {{ stok.Alisfiyati }}
                    </td>
                    <td class="text-end">
                        {{ stok.Toplam }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p></p>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function searchTable() {
        // Kullanıcının yazdığı metni al
        const input = document.getElementById("searchInput").value.toLowerCase();

        // Tablodaki tüm satırları bul
        const rows = document.querySelectorAll("tbody tr");

        // Her satırın içindeki metinlere bak
        rows.forEach(row => {
        // Satırın tüm metnini küçük harfe çevir
        const rowText = row.innerText.toLowerCase();

        // Eğer satırda aranan metin varsa satırı göster, yoksa gizle
        if (rowText.includes(input)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
        });
    }
</script>
{% endblock %}