{% extends 'etikom/base.html' %}

{% block rapor %}
<div class="col-6 col-md">
    <ul class="list-unstyled">
        <li>Toplam Fatura Sayısı: <strong>{{ tfta }}</strong></li>
        <li>Toplam Stok Çeşidi: <strong>{{ tsc }}</strong></li>
        <li>Toplam Stok Girişi: <strong>{{ tstg }}</strong></li>
    </ul>
</div>
<div class="col-6 col-md">
    <ul class="list-unstyled">
        <li>Toplam Stok Çıkışı: <strong>{{ tstc }}</strong></li>
        <li>Toplam Stok Miktarı: <strong>{{ ksa }}</strong></li>
        <li>Toplam Stok Maliyeti: <strong>{{ tstm|floatformat:2 }}</strong></li>
    </ul>
</div>
<div class="col-6 col-md">
    <ul class="list-unstyled">
        <li>Ortalama Stok Maliyeti: <strong>{{ ostm|floatformat:2 }}</strong></li>
    </ul>
</div>  
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <h6>
        Değiştirmek istediğiniz satır için Sıra No sayısına, faturaya ait detay için Fatura Numarasına, ürüne ait detay içinde Stok Kodu'na tıklayabilirsiniz. Sayfa Özeti bölümünden o sayfaya ait durum raporlarını görebilirsiniz.
    </h6>
    <h4>
        Ayrıntılı Stok Listeniz
    </h4>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Sıra No<br>
                        (<a href="{% url 'stoksiralama' sort='az-sira-no' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-sira-no' %}">Z</a>)
                    </th>
                    <th scope="col">Fatura No<br>
                        (<a href="{% url 'stoksiralama' sort='az-fatura-no' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-fatura-no' %}">Z</a>)
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'stoksiralama' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'stoksiralama' sort='az-adet' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-adet' %}">Z</a>)
                    </th>
                    <th scope="col">Alış Fiyatı<br>
                        (<a href="{% url 'stoksiralama' sort='az-alis-fiyati' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-alis-fiyati' %}">Z</a>)
                    </th>
                    <th scope="col">Toplam<br>
                        (<a href="{% url 'stoksiralama' sort='az-toplam' %}">A</a>↔<a href="{% url 'stoksiralama' sort='za-toplam' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stok in stok %}
                <tr>
                    <td>
                        {{ stok.id }}
                    </td>
                    <td>
                        {{ stok.Afaturano }}
                    </td>
                    <td>
                        {{ stok.Stokkodu }}
                    </td>
                    <td id="tabloadet">
                        {{ stok.Adet }}
                    </td>
                    <td id="tablofiyat">
                        {{ stok.Alisfiyati }}
                    </td>
                    <td id="tablofiyat">
                        {{ stok.Toplam }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}