{% extends 'etikom/base.html' %}

{% block baslik %}
<div class="col-12 col-sm-5">
    <h4>{{ firma_adi|title }} Fatura Detayı</h4>
</div>
<div>
    <p>
    </p>
</div>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Stok Çeşidi: <strong>{{ tstc|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Toplam Adet: <strong>{{ tsta|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Fatura Toplamı: <strong>{{ sftt|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Ort. Fiyat: <strong>{{ oafi|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-top">
        <h5>
            Fatura No; <sort class="text-warning">{{ sort }}</sort> <small class="blockquote-footer">{{ tip }} Faturası</small>
        </h5>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="pt-3 pb-3">Sıra No
                    </th>
                    <th scope="col" class="pt-3 pb-3">Stok Kodu
                    </th>
                    <th scope="col" class="pt-3 pb-3">Adet
                    </th>
                    <th scope="col" class="pt-3 pb-3">Fiyat
                    </th>
                    <th scope="col" class="pt-3 pb-3">Toplam
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for fatura in fatura %}
                <tr>
                    <td class="text-center">
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <a href="{% url 'stokgecmisiurl' sort=fatura.Stokkodu %}">{{ fatura.Stokkodu }}</a>
                    </td>
                    <td class="text-center">
                        {{ fatura.Adet }}
                    </td>
                    <td class="text-end">
                        {{ fatura.Alisfiyati }}
                    </td>
                    <td class="text-end">
                        {{ fatura.Toplam }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p></p>
    </div>
</div>
{% endblock %}