{% extends 'etikom/base.html' %}

{% block baslik %}
<dl class="row">
    <dt class="col-sm-3"><h4>{{ firma_adi|title }} Özet Stok Raporu</h4></dt>
    <dd class="col-sm-9">
        Değiştirmek veya silmek istediğiniz satır detayı için <strong>Kalem <svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></strong> simgesine, fatura yada siparişe ait bilgiler için <strong>Belge No</strong>'suna, ürüne ait işlem geçmişi içinde <strong>Stok Kodu</strong>'na tıklayabilirsiniz.
    </dd>
</dl>
{% endblock %}

{% block content %}
<div class="stoklistesi">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-3" style="background-color: whitesmoke;">
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Belge Sayısı: <strong>{{ tfta|floatformat:"-3g" }}</strong></li>
                <li>Stok Çeşidi: <strong>{{ tsc|floatformat:"-3g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Stok Girişi: <strong>{{ tstg|floatformat:"-3g" }}</strong></li>
                <li>Satılan Ürün: <strong>{{ tstc|floatformat:"-3g" }} Adet</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Kalan Stok: <strong>{{ ksa|floatformat:"-3g" }}</strong></li>
                <li>Stok Maliyeti: <strong>{{ tstm|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
        <div class="rapor col-6 col-md">
            <ul class="list-unstyled mt-3">
                <li>Toplam Satış: <strong>{{ tsts|floatformat:"2g" }}</strong></li>
                <li>Ort. Stok Maliyeti: <strong>{{ ostm|floatformat:"2g" }}</strong></li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-top">
        <h5>
            Stok Hareketleriniz;
        </h5>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-success" onclick="window.location.href = '{% url 'stokexcelindirurl' %}';">Excel İndir</button>
        </div>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead class="table-light">
                <tr>
                    <th scope="col">Detay<br>
                    </th>
                    <th scope="col">Belge No<br>
                        (<a href="{% url 'hareketsiralamaurl' sort='az-fatura-no' %}">A</a>↔<a href="{% url 'hareketsiralamaurl' sort='za-fatura-no' %}">Z</a>)
                    </th>
                    <th scope="col">Stok Kodu<br>
                        (<a href="{% url 'hareketsiralamaurl' sort='az-stok-kodu' %}">A</a>↔<a href="{% url 'hareketsiralamaurl' sort='za-stok-kodu' %}">Z</a>)
                    </th>
                    <th scope="col">Adet<br>
                        (<a href="{% url 'hareketsiralamaurl' sort='az-adet' %}">A</a>↔<a href="{% url 'hareketsiralamaurl' sort='za-adet' %}">Z</a>)
                    </th>
                    <th scope="col">Fiyat<br>
                        (<a href="{% url 'hareketsiralamaurl' sort='az-fiyat' %}">A</a>↔<a href="{% url 'hareketsiralamaurl' sort='za-fiyat' %}">Z</a>)
                    </th>
                    <th scope="col">Toplam<br>
                        (<a href="{% url 'hareketsiralamaurl' sort='az-toplam' %}">A</a>↔<a href="{% url 'hareketsiralamaurl' sort='za-toplam' %}">Z</a>)
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for stok in stok %}
                <tr>
                    <td class="text-center">
                        <a href="{% url 'stokduzeltmeurl' sort=stok.Firmaadi pk=stok.id %}"><svg class="bi text-primary"><use xlink:href="#kalem"></use></svg></a>
                    </td>
                    <td>
                        <a href="{% url 'stokfaturasiurl' sort=stok.Afaturano %}">{{ stok.Afaturano }}</a>
                    </td>
                    <td>
                        <a href="{% url 'stokgecmisiurl' sort=stok.Stokkodu %}">{{ stok.Stokkodu }}</a>
                    </td>
                    <td class="text-center">
                        {{ stok.Adet }}
                    </td>
                    <td class="text-end">
                        {{ stok.Alisfiyati }}
                    </td>
                    <td class="text-end">
                        {{ stok.Toplam }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mb-2 px-3">
        <p>{{ stsys }} Satır</p>
    </div>
</div>
{% endblock %}