* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.container {
  display: grid;
  grid-template-areas:
    "solsutun sagsutun"
    "solsutun sagsutun"
    "solsutun sagsutun";
  justify-content: start;
}

.solsutun {
  display: grid;
  grid-template-areas:
    "solust"
    "solorta"
    "solalt";
  background-color: #161d31;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 15vw;
  padding: 0 1vw 0 1vw;
}

.solust {
  grid-area: solust;
  color: white;
  text-align: center;
}

.solorta {
  grid-area: solorta;
  text-align: center;
  text-transform: uppercase;
}

.solalt {
  grid-area: solalt;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: xx-small;
}

.sagsutun {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
    width: 85vw;
}

.header {
  display: grid;
  grid-template-areas:
    "headersol headerorta headersag";
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 14px 0 rgba(0,0,0,.15);
  height: 14vh;
}

.headersol { grid-area: headersol;
  display: grid;
  align-content: center;
  padding-left: 1vw;
}

.headerorta { grid-area: headerorta; }

.headersag { grid-area: headersag; }

.main {
  display: grid;
  grid-template-areas:
    "mainsol mainorta mainsag";
  padding-top: 3vh;
  align-items: start;
  justify-content: center;
}

.mainsol { grid-area: mainsol; }

.mainorta { grid-area: mainorta;
  width: max-content;
  display: flex;
  gap: 1vw;
}

.mainsag { grid-area: mainsag; }

.footer {
  display: grid;
  grid-template-areas:
    "footersol footerorta footersag";
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: #C1A994;
  height: 6vh;
}

.footersol { grid-area: footersol; }

.footerorta { grid-area: footerorta; }

.footersag { grid-area: footersag; }

.input, #id_Afaturano, #id_Stokkodu, #id_Adet, #id_Alisfiyati, #id_Afaturano, #id_Toplam, #id_firma_adi, #id_email, #id_password1, #id_password2 {
  float: right;
  text-align: right;
}

span#toplam, #ts {
  float: right;
  padding-right: 1vw;
  font-weight: bold;
}

.butonlar {
    text-align: center;
}

#tabloadet {
  text-align: center;
}

#tablofiyat {
  text-align: right;
}
.mofhformu {
  padding-right: 2vw;
}
h2 {
  text-align: center;
}
.kgformu, .mobir, .moiki {
  padding: 0vw 2vw;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #181d307d;
  border-color: darkgreen;
}
.solust a:link, .solust a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.solust a:hover, .solust a:active {
  background-color: red;
}
.solalt a:hover, .solalt a:active {
  background-color: red;
}
.solalt a:link, .solalt a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
li {
  color: red;
}
.stoklistesi a:link {
  background-color: #04AA6D;
  padding: 0;
}
h3 a {
  color: ghostwhite;
  text-decoration: none;
}
p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: smaller;
  font-variation-settings:
    "wdth" 100;
}
h1 a, h2 a, h3 a, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}
.stoklistesi a {
  color: #181d30;
  text-decoration: none;
}



#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 65vw;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

//**
table {
  border-collapse: collapse;
  width: 75vw;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: coral;}

th {
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
**//