h1 a {
    color: #FCA205;
}
body {
    padding-left: 15px;
}
.fhformu {
    width: 300px;
}
.input {
    width: 100px;
    float: right;
    text-align: right;
}
#toplam {
    float: right;
    padding-right: 20px;
    font-weight: bold;
}